@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

/* COMMON CSS HERE START  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #272727;
  font-weight: 900;
}

p {
  color: rgba(39, 39, 39, 0.6);
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
}

.btn {
  background: #e55473;
  padding: 18px 30px;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 8px;
}

/* COMMON-CSS-LINK END  */

/* BANNER-AREA-START  */
.banner-area {
  background: rgba(229, 84, 115, 0.1);
  justify-content: space-between;
}
.banner-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1140px;
  padding: 30px 0 0 0;
  margin: 0 auto;
}

.banner-content h2 {
  font-size: 58px;
  line-height: normal;
  margin-bottom: 20px;
}

.banner-content p {
  margin-bottom: 22px;
}

/* COMMON-HEADING  */

.common-heading {
  text-align: center;
  margin: 90px 0 50px 0;
}

.common-heading h3 {
  font-size: 30px;
  margin-bottom: 12px;
}

/* PRODUCT-BOXING-AREA-STARTING  */

.product-box-area {
  width: 1140px;
  margin: 0 auto;
}

.product-boxing {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  text-align: center;
}

.box-bg-1 {
  background: rgba(204, 39, 119, 0.15);
}

.box-bg-2 {
  background: rgba(5, 151, 160, 0.15);
}

.box-bg-3 {
  background: rgba(71, 125, 17, 0.15);
}

.product-box-img {
  border-radius: 300px 300px 0px 0px;
  padding: 50px 30px 0 30px;
}

.product-box-img img {
  width: 310px;
  height: 350px;
}

.product-bottom-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px 0;
}

.product-bottom-content a {
  font-size: 18px;
  color: #272727;
  font-weight: 700;
}

/* SALEUP-BOX-STARTED  */

.saleup-area {
  background: rgba(229, 84, 115, 0.05);

  margin: 80px 0 40px 0;
}

.saleup-box {
  width: 1140px;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.saleup-content {
  text-align: center;
  width: 590px;
}

.saleup-content h2 {
  font-size: 35px;
  margin-bottom: 20px;
}

.saleup-content span {
  color: #e55473;
}

.saleup-content p {
  margin-bottom: 25px;
}

/* INSTAGRAM-AREA-STARTED  */

.instagram-area {
  width: 1140px;
  margin: 0 auto;
  justify-content: space-between;
}

.instagram-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
}

.instagram-img img {
  width: 270px;
}

/* FORM-AREA-STARTED  */

.form-area {
  width: 1140px;
  margin: 0 auto;
  background-image: url("../img/form_bg.png");
  background-size: cover;
  margin-top: 100px;
}

.form-content {
  text-align: center;
  padding: 60px 0;
}

.form-heading h3 {
  font-size: 30px;
  margin-bottom: 10px;
}

.form-content input {
  width: 500px;
  padding: 20px 30px;
  border: none;
  margin-right: 12px;
}

/* FOOTER-AREA-STARTED  */

footer {
  background-color: #111010;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 90px 0 50px 0;
  margin-top: 80px;
}

.footer-content h2 {
  font-size: 35px;
  color: #fff;
  margin-bottom: 20px;
}

.footer-content span {
  color: #e55473;
}

.footer-paragraph {
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 25px;
}

.copyright {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
}
