@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

/* COMMON CSS HERE START  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #272727;
  font-weight: 900;
}

p {
  color: rgba(39, 39, 39, 0.6);
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
}

.btn {
  background: #e55473;
  padding: 18px 30px;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 8px;
}

/* COMMON-CSS-LINK END  */

/* BANNER-AREA-START  */
.banner-area {
  background: rgba(229, 84, 115, 0.1);
  justify-content: space-between;
}
.banner-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1140px;
  padding: 30px 0 0 0;
  margin: 0 auto;
}

.banner-content h2 {
  font-size: 58px;
  line-height: normal;
  margin-bottom: 20px;
}

.banner-content p {
  margin-bottom: 22px;
}

/* PRODUCT-BOXING-AREA-STARTING  */

.product-box-area {
  width: 1140px;
  margin: 0 auto;
}

.product-boxing {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  text-align: center;
}

.box-bg-1 {
  background: rgba(204, 39, 119, 0.15);
}

.box-bg-2 {
  background: rgba(5, 151, 160, 0.15);
}

.box-bg-3 {
  background: rgba(71, 125, 17, 0.15);
}

.product-box-img {
  border-radius: 300px 300px 0px 0px;
  padding: 50px 30px 0 30px;
}

.product-box-img img {
  width: 310px;
  height: 350px;
}
